@charset "utf-8";

html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
em,
img,
small,
strong,
b,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tr,
th,
td,
article,
aside,
footer,
header,
nav,
section,
summary,
video,
* {
    padding: 0;
    margin: 0;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

html {
    /* Prevent font scaling in landscape */

    -webkit-text-size-adjust: none;
    /*Chrome, Safari, newer versions of Opera*/

    -moz-text-size-adjust: none;
    /*Firefox*/

    -ms-text-size-adjust: none;
    /*Ie*/

    -o-text-size-adjust: none;
    /*old versions of Opera*/
}

body {
    font-family: "Philosopher", "Noto Serif KR", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #2b2b2b;
}

#wrap {
    min-width: 1904px;
    background-color: #f6f1eb;
}

/* =============== header =============== */
/* promotion_slide */
#promotion_slide {
    width: 100%;
    height: 30px;
    background-color: #2b2b2b;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.08em;
    padding-top: 6px;
    box-sizing: border-box;
    overflow: hidden;
}

#promotion_slide ul {
    position: relative;
}

#promotion_slide li {
    height: 30px;
    text-align: center;
}

/* ================ gnb ================ */

#gnb {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 1844px;
    height: 74px;
    margin: 0 auto;

    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    z-index: 99;

    transition: transform 0.4s ease;
}

#gnb.fixed {
    position: fixed;

    top: 0;
    left: 0;
    right: 0;

    z-index: 9999;

    background-color: transparent;
}

#gnb.fixed.hide {
    transform: translateY(-100%);
}

.gnb_wrap {
    width: 40%;
    display: flex;
    gap: 40px;
}

.logo {
    width: 20%;
    text-align: center;
}

.logo img {
    width: 280px;
}

.util {
    width: 40%;
    display: flex;
    justify-content: flex-end;
    gap: 40px;
}

.util img {
    width: 24px;
}

.util li:nth-child(3) img {
    width: 25px;
}


/* 전체 1320px */
#inner_wrap {
    width: 1320px;
    margin: 120px auto;
}

/* tab */
#tab {
    width: 260px;
    margin: 0 auto;
}

.tab_menu {
    display: flex;
    justify-content: center;
}

.menu a {
    display: block;
    font-size: 14px;
    padding: 0 18px;
}

.tab_menu li {
    position: relative;
}

.tab_menu li::after {
    content: "";
    display: block;
    height: 10px;
    width: 1px;
    background-color: #2b2b2b;

    position: absolute;
    top: 5px;
}

.tab_menu li:first-child::after {
    display: none;
}

/* ==================== page map ==================== */
.page_map {
    margin: 30px 0 10px;
    text-align: end;
    font-size: 12px;
    letter-spacing: 0.06em;
}


/* ==================== banner =================== */
#banner {
    height: 650px;

    border-top: 1px solid #666;
    border-bottom: 1px solid #666;

    display: flex;
    justify-content: space-between;
}

.banner_text {
    padding: 150px 0;
}

.banner_text p {
    font-size: 18px;
    color: #a89f94;
    letter-spacing: 0.1em;
}

.banner_text h2 {
    font-size: 105px;
    font-weight: 400;
    line-height: 1.2;

    margin-bottom: 10px;
}

.banner_text span {
    font-size: 26px;
}

.image_wrap img {
    display: block;
    width: 650px;
    height: 650px;
}

/* ================ section1 ================= */
#section1 {
    height: 1600px;

    position: relative;
}

#section1 img {
    display: block;
    height: 100%;
}

#section1::after {
    content: "";
    display: block;
    width: 1px;
    height: 802px;

    background-color: #666;
    position: absolute;
    top: 0;
    right: 50%;
}

#section1::before {
    content: "";
    display: block;
    width: 1320px;
    height: 1px;

    background-color: #666;
    position: absolute;
    top: 802px;
    right: 0;
}

/* ================ section2 ================= */
#section2 {
    border-bottom: 1px solid #666;
    border-top: 1px solid #666;
}

#section2 img {
    display: block;
    height: 500px;
}

/* ================ section3 ================= */
#section3 {
    height: 1000px;
    background: url(../images/size_guide/section3_img.png) no-repeat top center / 1320px 1000px;

    position: relative;
}

/* title */
#section3 .title {
    width: 630px;

    position: absolute;
    top: 76px;
    left: 0;
    z-index: 5;
}

#section3 .title span {
    display: block;
    font-size: 16px;
    letter-spacing: 0.1em;
}

#section3 .title em {
    display: block;
    font-size: 105px;
    line-height: 1;
    margin-bottom: 30px;
}

#section3 .title p {
    font-size: 16px;
    font-family: "Noto Serif KR";
}

/* step */
/* 공통꾸미기 */
.step {
    width: fit-content;
    height: auto;
}
.step .num {
    display: block;
    font-size: 50px;
    line-height: 1;
    color: #a89f94;
}
.step h2 {
    font-size: 30px;
    font-family: "Noto Serif KR";
    font-weight: 400;
    margin: 18px 0;
    line-height: 1;
}
.step p {
    font-size: 16px;
    font-family: "Noto Serif KR";
}
.step_right {
    text-align: end;
}


.step1 {
    position: absolute;
    right: 47px;
    top: 70px;
}

.step2 {
    position: absolute;
    right: 480px;
    top: 405px;
}

.step3 {
    position: absolute;
    left: 27px;
    top: 405px;
}

.step4 {
    position: absolute;
    left: 483px;
    top: 738px;
}

.step5 {
    position: absolute;
    right: 25px;
    top: 738px;
}
/* ================== footer ================== */

#footer {
    width: 100%;
    padding: 70px 0;
    border-top: 1px solid #8c847d;
    background-color: #f6f1eb;
}

.inner_footer {
    width: 1630px;
    margin: 0 auto;

    display: flex;
    align-items: flex-start;
}

.footer_logo {
    width: 300px;
}

.footer_logo img {
    display: block;
    width: 177px;
}

.footer_menu {
    flex: 1;

    display: flex;
    justify-content: space-between;
}

.footer_menu ul {
    width: 200px;
}

.footer_menu li {
    margin-bottom: 32px;
    font-size: 14px;
}

.footer_menu li:hover {
    font-weight: bold;
}

.footer_menu li:last-child {
    margin-bottom: 0;
}

.social {
    width: 130px;
    margin-left: 60px;

    display: flex;
    justify-content: flex-end;
    gap: 25px;
}

.social li {
    opacity: 0.8;
}

.social li:hover {
    opacity: 1;
}

.social img {
    display: block;
    width: 40px;
}