@charset "utf-8";

html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
em,
img,
small,
strong,
b,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tr,
th,
td,
article,
aside,
footer,
header,
nav,
section,
summary,
video,
* {
    padding: 0;
    margin: 0;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

html {
    /* Prevent font scaling in landscape */

    -webkit-text-size-adjust: none;
    /*Chrome, Safari, newer versions of Opera*/

    -moz-text-size-adjust: none;
    /*Firefox*/

    -ms-text-size-adjust: none;
    /*Ie*/

    -o-text-size-adjust: none;
    /*old versions of Opera*/
}

body {
    font-family: "Philosopher", "Noto Serif KR", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #2b2b2b;
}

#wrap {
    min-width: 1904px;
    background-color: #f6f1eb;
}

/* =============== header =============== */
/* promotion_slide */
#promotion_slide {
    width: 100%;
    height: 30px;
    background-color: #2b2b2b;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.08em;
    padding-top: 6px;
    box-sizing: border-box;
    overflow: hidden;
}

#promotion_slide ul {
    position: relative;
}

#promotion_slide li {
    height: 30px;
    text-align: center;
}

/* ================ gnb ================ */

#gnb {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 1844px;
    height: 70px;
    margin: 0 auto;

    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    z-index: 99;

    transition: transform 0.4s ease;
}
#gnb.fixed {
    position: fixed;

    top: 0;
    left: 0;
    right: 0;

    z-index: 9999;

    background-color: transparent;
}
#gnb.fixed.hide {
    transform: translateY(-100%);
}
.gnb_wrap {
    width: 40%;
    display: flex;
    gap: 40px;
}

.logo {
    width: 20%;
    height: 100%;
    text-align: center;
}

.logo img {
    height: 70px;
}

.util {
    width: 40%;
    display: flex;
    justify-content: flex-end;
    gap: 40px;
}
.util img {
    width: 24px;
}
.util li:nth-child(3) img {
    width: 25px;
}


/* ================ visual ================ */
#visual {
    height: 950px;
    position: relative;
    overflow: hidden;
    z-index: 88;
}

.inner_visual {
    width: 100%;
    height: 100%;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.inner_visual img {
    display: block;
}

.inner_visual1 {
    background-image: url(../images/main/banner.png);
}

.inner_visual2 {
    background-image: url(../images/main/banner2.png);
}

.inner_visual3 {
    background-image: url(../images/main/banner3.png);
}

.visual_t {
    width: 1630px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.visual_t .t_box {
    width: 600px;
}

.visual_t h2 {
    font-size: 70px;
    line-height: 65px;
    letter-spacing: 0.06em;
    font-weight: 400;
}

.visual_t .t_box>span {
    display: block;
    font-family: Noto Serif KR;
    font-size: 18px;
    margin: 27px 0 62px;
}

.visual_t .t_box p {
    font-size: 18px;
    margin: 0 0 15px 5px;
    letter-spacing: 0.06em;
}

.visual_t a {
    width: fit-content;
    padding: 0 13px 7px 0;

    display: flex;
    align-items: center;
    gap: 25px;

    border-bottom: 1px solid #2b2b2b;
    
    font-family: "Noto Serif KR";
    font-size: 16px;

    color: #2b2b2b;
}

/* .visual_t a::after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #2b2b2b;

    position: absolute;
    left: 0;
    bottom: -3px;
} */

/* .visual_t a:hover::after {
    width: 100%;
} */

.visual_t a img {
    display: block;
    width: 16px;
}

.inner_visual1 .visual_t {
    transform: translate(50px, -40px);
}

.inner_visual2 .visual_t {
    align-items: flex-end;
    transform: translateY(-50px);
}

.inner_visual3 .visual_t {
    align-items: flex-end;
    transform: translateY(-80px);
}

/* visual control  */

.visual_control {
    position: absolute;
    right: 80px;
    bottom: 200px;
    z-index: 20;

    display: flex;
    align-items: center;
    gap: 12px;
}


/* 01 / 03 숫자 */

.visual_control .first_num,
.visual_control .last_num {
    font-size: 18px;
}


/* progress bar */

#visual .visual_pagination {
    width: 120px;
    height: 1.5px;

    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;

    flex-shrink: 0;


    background-color: rgba(0, 0, 0, 0.3);

    overflow: hidden;
}


/* progress 안쪽에서 실제로 움직이는 선 */

#visual .visual_pagination .swiper-pagination-progressbar-fill {
    background-color: #2b2b2b;
}


/* 이전 / 다음 버튼 */

.visual_prev,
.visual_next {
    width: 16px;
    cursor: pointer;
}


.visual_prev {
    margin-left: 14px;
}


.visual_prev img,
.visual_next img {
    display: block;
    width: 100%;
}


/* ================== collage ================== */

#collage {
    width: 1320px;
    margin: 120px auto;
}

.collage_menu {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.collage_menu li {
    padding: 0 20px;
    position: relative;
    font-size: 20px;
}

.collage_menu li::after {
    content: "";
    display: block;
    width: 1px;
    height: 10px;
    background-color: #2b2b2b;
    position: absolute;
    top: 8px;
    right: 0;
    z-index: 8;
}

.collage_menu li:last-child::after {
    display: none;
}

.collage_menu li::before {
    content: "";
    display: none;

    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #EDBF8B;

    position: absolute;
    top: -1px;
    right: 10px;
    display: none;
}

.collage_menu li.on::before,
.collage_menu li:hover::before {
    display: block;
}

.collage_wrap {
    width: 100%;
    min-height: 1640px;

    position: relative;
}

.collage_wrap img {
    display: block;
    width: 100%;
    height: 100%;
}

.collage_img1 {
    width: 700px;
    height: 700px;
}

.collage_img2 {
    width: 560px;
    height: 670px;

    position: absolute;
    top: 210px;
    right: 0;
}

.collage_img3 {
    height: 710px;
}

.collage_wrap span {
    display: block;
    font-size: 105px;
    line-height: 1;
    letter-spacing: 0.06em;
    margin: 61px 0;
}

.collage1,
.collage2,
.collage3 {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.collage_wrap ul.on {
    width: 100%;
    display: block;
}


/* ================== product scroll ================= */
#product_scroll {
    height: 420vh;
    position: relative;

}

.product_sticky {
    width: 100%;
    height: 100vh;

    position: sticky;
    top: 0;

    overflow: hidden;

    background-color: #2b2b2b;
}

.product_inner {
    width: 1630px;
    height: 100%;

    margin: 0 auto;

    display: grid;
    grid-template-columns: 1.15fr 0.54fr 0.54fr;
    gap: 18px;
}

.product_copy {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product_copy h2 {
    font-size: 105px;
    font-weight: 400;
    font-style: italic;
    color: #f6f1eb;
}

.product_copy p {
    margin-top: 34px;

    font-family: "Noto Serif KR", serif;
    font-size: 18px;
    line-height: 2;

    color: #f6f1ebcb;
}

.product_copy a {
    width: fit-content;

    margin-top: 60px;
    padding-right: 10px;
    padding-bottom: 7px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.45);

    color: #f6f1eb;
    font-size: 16px;
}

.product_copy a span {
    margin-left: 25px;
}


/* 이미지 컬럼 */
.product_column {
    height: 100%;

    position: relative;

    overflow: hidden;
}

.product_track {
    width: 100%;

    position: absolute;
    top: 0;
    left: 0;

    will-change: transform;

    transition: transform 0.4s ease-out;
}

.product_card {
    width: 100%;
    height: 62vh;

    min-height: 390px;

    margin-bottom: 18px;

    overflow: hidden;

    background-color: #f6f1eb;
}

.product_card img {
    display: block;

    width: 100%;
    height: 100%;

    object-fit: cover;
}


/* ================= custom_made ================ */
#custom_made {
    width: 1320px;
    height: 640px;
    margin: 120px auto;
}

#custom_made ul {
    display: flex;
    height: 100%;
}

.custom_text {
    width: 580px;
    background-color: #2b2b2b;
    color: #f6f1eb;
    padding: 70px 65px;
    box-sizing: border-box;
}

.custom_text .slogan {
    color: #EDBF8B;
    font-size: 18px;
    letter-spacing: 0.06em;
    opacity: 0.8;
}

.custom_text h3 {
    font-size: 50px;
    font-weight: 400;
    letter-spacing: 0.1em;
}

.custom_text .line {
    display: block;
    width: 84px;
}

.custom_text .introduce {
    font-family: "Noto Serif KR";
    font-weight: 400;
    color: #f6f1ebd2;
    margin: 37px 0;
}

.custom_text span {
    font-family: "Philosopher";
    font-size: 18px;
    letter-spacing: 0.06em;
}

.custom_list img {
    display: block;
    width: 42px;
}

.custom_list {
    display: flex;
    gap: 20px;
    align-items: center;

    font-size: 24px;
    letter-spacing: 0.1em;
    padding-bottom: 8px;
    margin-bottom: 10px;
    border-bottom: 1px solid #EDBF8B;
}

.custom_text .discover {
    width: fit-content;
    margin-top: 35px;
    padding-right: 10px;
    color: #EDBF8B;
    letter-spacing: 0.06em;

    display: flex;
    gap: 20px;

    position: relative;
}

.custom_text .discover::after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #edbf8ba4;

    position: absolute;
    left: 0;
    bottom: -3px;
}

.custom_text .discover:hover {
    color: #f6f1eb;
}



/* ================= invitation event ================= */

#invitation_event {
    width: 100%;
    height: 450px;

    background-image: url(../images/main/청첩장이벤트.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    overflow: hidden;
}

.event_text {
    width: 1630px;
    height: 100%;

    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.event_text .eyebrow {
    font-size: 18px;
    letter-spacing: 0.06em;

    color: #846847;
}

.event_text .eyebrow::after {
    content: "";

    display: block;

    width: 52px;
    height: 1px;

    margin: 13px 0 26px;

    background-color: #846847;
}

.event_text h2 {
    font-size: 50px;
    line-height: 1;

    font-weight: 400;
    font-style: italic;

    color: #2b2b2b;
}

.event_text .sub {
    margin-top: 22px;

    font-family: "Noto Serif KR";
    font-size: 18px;

    color: #846847;
}

.event_text .desc {
    margin-top: 12px;

    font-family: "Noto Serif KR";
    font-size: 16px;
    line-height: 1.9;

    color: #2b2b2b;
}
.book_visit {
    width: fit-content;

    margin-top: 42px;
    padding-bottom: 7px;
    padding-right: 10px;

    display: flex;
    align-items: center;
    gap: 24px;

    border-bottom: 1px solid #846847;

    font-size: 16px;
    color: #846847;
}

.book_visit img {
    display: block;
    width: 17px;
}


/* ==================== instagram ==================== */
#instagram {
    margin-top: 120px;
}
.insta_url {
    text-align: center;
    line-height: 1;
}
.insta_url p {
    font-size: 28px;
}
.insta_url h2 {
    font-size: 50px;
    font-weight: 400;
}
.swiper_insta {
    width: 1630px;
    height: 350px;
    margin: 73px auto 120px;
    position: relative;
}

.swiper_insta .swiper {
    width: 90%;
    margin: 0 auto;
    height: 100%;
}

.swiper_insta .swiper-wrapper {
    transition-timing-function: linear;
}

.swiper_insta .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
}

.swiper_insta .swiper-slide img {
    display: block;
    width: 100%;
    height: 350px;
    object-fit: cover;
}




/* ==================== visit & book ==================== */

#visit_book {
    width: 1796px;
    height: 411px;

    margin: 120px auto;

    display: flex;

    background: url(../images/main/visit&book.png) center;
}
.visit_text {
    width: 592px;
    height: 100%;

    padding: 85px 0 65px 83px;

    box-sizing: border-box;

    display: flex;
    flex-direction: column;
}
.visit_text h3 {
    font-size: 50px;
    font-weight: 400;

    letter-spacing: 0.1em;

    color: #2b2b2b;
}
.visit_text>p {
    margin-top: 15px;

    font-family: "Noto Serif KR";
    font-size: 16px;

    color: #2b2b2b;
}
.visit_link {
    width: fit-content;

    margin-top: 90px;
    padding: 0 10px 7px 0;

    display: flex;
    align-items: center;
    gap: 45px;

    border-bottom: 1px solid #2b2b2b;

    font-family: "Noto Serif KR";
    font-size: 16px;

    color: #2b2b2b;
}
.visit_link img {
    display: block;

    width: 17px;
}
.visit_map {
    width: 1204px;
    height: 100%;

    position: relative;

    background-image: url(../images/main/visit&book.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.map_info {
    position: absolute;

    top: 125px;
    left: 55%;
}
.map_title {
    display: flex;
    align-items: center;

    gap: 12px;
}
.map_title img {
    display: block;

    width: 45px;
}
.map_title span {
    font-size: 24px;
    letter-spacing: 0.06em;
}
.map_info>p {
    margin: 10px 0 27px 60px;

    font-family: "Noto Serif KR";
    font-size: 16px;

    color: #2b2b2b;
}
.map_info ul {
    margin-left: 60px;

    display: flex;
    align-items: center;

    gap: 25px;
}
.map_info ul li {
    font-size: 18px;
    font-style: italic;
}
.map_info ul li:first-child {
    padding-right: 25px;

    position: relative;
}
.map_info ul li:first-child::after {
    content: "";

    width: 1px;
    height: 12px;

    background-color: #777;

    position: absolute;

    top: 9px;
    right: 0;
}


/* ================== footer ================== */

#footer {
    width: 100%;
    padding: 70px 0;
    border-top: 1px solid #8c847d;
    background-color: #f6f1eb;
}
.inner_footer {
    width: 1630px;
    margin: 0 auto;

    display: flex;
    align-items: flex-start;
}
.footer_logo {
    width: 300px;
}
.footer_logo img {
    display: block;
    width: 177px;
}
.footer_menu {
    flex: 1;

    display: flex;
    justify-content: space-between;
}
.footer_menu ul {
    width: 200px;
}
.footer_menu li {
    margin-bottom: 32px;
    font-size: 14px;
}
.footer_menu li:hover {
    font-weight: bold;
}
.footer_menu li:last-child {
    margin-bottom: 0;
}
.social {
    width: 130px;
    margin-left: 60px;

    display: flex;
    justify-content: flex-end;
    gap: 25px;
}
.social li {
    opacity: 0.8;
}
.social li:hover {
    opacity: 1;
}
.social img {
    display: block;
    width: 40px;
}